<footer class="footer_widgets" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout
        http://www.ultraq.net.nz/thymeleaf/layout">
    <div class="footer_bottom">
        <div class="container">
            <p style="text-align: center">
                ©1997-2022 Barnes & Noble Booksellers, Inc. 33 East 17th Street, New York, NY 10003
            </p>
        </div>
    </div>
</footer>

