<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
<div th:insert="~{layout/head}" >
</div>
<body>
<div th:insert="~{layout/header}">
</div>
<div layout:fragment="content">
</div>
<div th:insert="~{layout/footer}">
</div>
</body>
</html>